$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;


$basic-green: #68b738;
$basic-white: #ffffff;
$basic-black: #000000;
$special-black: #111111;
$bg-grey: #f2f2f2;
$bg-grey-darker: #eaeaea;
$dark-grey: #444444;
$special-dark-grey: #222222;
$icon-grey: #666666;
$icon-plus-grey: #d3d3d3;
$line-grey: #e6e6e6;
$line-grey-2: #d9d9d9;
$line-grey-3: #cdcdcd;
$line-grey-4: #ebebeb;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
