$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;


$basic-green: #68b738;
$basic-white: #ffffff;
$basic-black: #000000;
$special-black: #111111;
$bg-grey: #f2f2f2;
$bg-grey-darker: #eaeaea;
$dark-grey: #444444;
$special-dark-grey: #222222;

// $special-grey: #cdcdcd;
// $special-grey-2: #666666;
//
//
// $status-error: #ff8282;
// $basic-green-2: #5eaa2f;
