.additional-goods {
  padding-bottom: 40px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: $basic-green;
    height: 2px;
    width: 100vw;
    top: 10px;
    z-index: -1;
    left: calc(50% - 50vw);
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 15px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 96px;
  }
}

.additional-goods__title {
  position: relative;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 36px -20px;
  padding: 0 39px 0 20px;
  background-color: $basic-white;
  min-width: 286px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    width: 385px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 0 80px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
    font-size: 40px;
    line-height: 40px;
    min-width: 458px;
  }
}

.additional-goods__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
  }
}

.additional-goods__list {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    border: 1px solid $line-grey-3;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    margin-bottom: 0;
  }
}

.additional-goods__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 40px;
  border-top: 1px solid $line-grey-3;
  min-height: 130px;
  padding-top: 13px;
  padding-bottom: 19px;

  &:last-child {
    border-bottom: 1px solid $line-grey-3;
  }

  @media (min-width: $tablet-width) {
    min-height: 138px;
    grid-template-columns: 1fr 195px 91px;
    grid-template-rows: auto 40px;
    padding: 26px 38px;

    &:last-child {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 226px 60px 245px;
    grid-template-rows: auto;
    padding: 15px 0 16px;
    min-height: 71px;
    align-items: center;
    gap: 20px;

    &:last-child {
      border-bottom: 1px solid $line-grey-3;
    }
  }
}

.additional-goods__item-title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-grey;
  margin: 0;
  grid-column: 1 / 3;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-goods__item-option,
.additional-goods__item-value {
  line-height: 14px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    place-self: baseline end;
  }
}

.additional-goods__item-option {
  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    place-self: center left;
  }
}

.additional-goods__item-value {
  justify-self: end;

  @media (min-width: $tablet-width) {
    grid-column: 3 / 4;
  }

  @media (min-width: $desktop-width) {
    place-self: center left;
  }
}

.additional-goods__link {
  align-content: center;
  grid-column: -3 / -1;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
    height: 40px;
  }
}
