.all-product__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $special-black;
}

.all-product__text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $dark-grey;
}

.all-product__link {
  background-color: $bg-grey;
  color: $dark-grey;
}

.all-product__plus {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 23px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: $icon-plus-grey;
  }

  &::before {
    transform: rotate(90deg);
  }
}
