.contacts {
  position: relative;
}

.contacts__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.contacts__address {
  line-height: 20px;
  color: $dark-grey;
  font-style: normal;

  @media (min-width: $tablet-width) {
    text-align: end;
  }
}

.contacts__wrapper {
  display: grid;
  gap: 14px;
  grid-template-columns: 126px 1fr;


  @media (min-width: $tablet-width) {
    grid-template-columns: 140px 140px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: $basic-white;
    grid-template-columns: 172px 157px;
    width: 565px;
    margin: 0;
    padding: 56px 80px;
    top: 50px;
    left: 100px;
  }
}

.contacts__map-iframe {
  display: block;
  width: 100%;
  height: 362px;
  border: 0;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
