.example-program {
  background-color: $bg-grey-darker;
}

.example-program__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example-program__text {
  color: $dark-grey;
}

.example-program__description-term {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.example-program__description-details {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $dark-grey;
}

.example-program__cost {
  font-family: $secondary-font;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
