.example-program {
  background-color: $bg-grey-darker;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to top, $bg-grey-darker 465px, $basic-white 465px);
  }
}

.example-program__grid-container {
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 433px 568px;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 75px;
  }
}

.example-program__wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.example-program__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example-program__text {
  margin: 0;
  margin-bottom: 20px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.example-program__wrapper-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 40px;
  gap: 20px 30px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 162px 162px 1fr;
    grid-template-rows: 77px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 162px 162px;
    grid-template-rows: 77px 20px;
    gap: 55px 42px;
  }
}

.example-program__description-item {
  margin: 0;
  position: relative;
}

.example-program__description-term {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 18px;
  border: 1px solid $line-grey-3;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 20px;
  }
}

.example-program__description-details {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $dark-grey;
  margin: 0;
  width: 88px;
  position: absolute;
  z-index: 2;
  top: 50px;
  background-color: $bg-grey-darker;
  left: 15%;
  padding: 0 5px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $basic-white;
    width: 90%;
    top: 64px;
    padding: 0 8px;
    left: 50%;
    transform: translate(-50%);
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-grey-darker;
  }
}

.example-program__description-details--weight {
  @media (min-width: $tablet-width) {
    width: 114px;
  }
}

.example-program__cost {
  font-family: $secondary-font;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  grid-column: 1 / 3;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 3 / 4;
    font-size: 20px;
    line-height: 20px;
    margin-left: 140px;
    text-align: right;
    place-self: center end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
    margin-left: 0;
    display: flex;
    width: 327px;
    justify-content: space-between;
    place-self: start start;
  }
}
