.main-nav__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-black;
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: $basic-white;
  border: none;
  background-image: url("../../icons/stack.svg#button-close");
  background-repeat: no-repeat;
}
