.main-nav {
  @media (min-width: $tablet-width) {
    margin-left: auto;
    width: 506px;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 20px;
  top: 23px;
  width: 24px;
  height: 18px;
  padding: 0;
  background-color: $basic-white;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 2px;
  background-color: $basic-black;
  box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/stack.svg#button-close");
  right: 0;
  top: 0;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-color: $basic-white;
  box-shadow: none;
}

.main-nav--opened .main-nav__list {
  @media (max-width: $mobile-width-only) {
    z-index: 2;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav__list {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  display: block;
}

.main-nav__list {
  @media (max-width: $mobile-width-only) {
    background-color: $basic-white;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
  }
}

.main-nav__item {
  @media (min-width: $tablet-width) {
    margin-left: 13px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.main-nav__item--active {
  @media (min-width: $tablet-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-color: $basic-green;
      height: 2px;
      width: calc(100% - 20px);
      left: 10px;
      bottom: 0;
    }
  }
}

.main-nav__item--active-color {
  @media (min-width: $desktop-width) {
    &::after {
      background-color: $basic-white;
    }
  }
}

.main-nav__list--background-cat {
  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-desktop@1x.jpg");
      right: -70px;
      top: 0;
      min-height: 694px;
      width: 720px;
      z-index: -1;
      background-repeat: no-repeat;
      background-color: $basic-green;
      background-position: center;
    }
  }
}

.main-nav__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-black;
  display: block;
  padding: 22px 0 24px;
  text-align: center;
  border-top: 1px solid $line-grey;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border-top: none;
    padding: 12px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.main-nav__link--last {
  @media (min-width: $tablet-width) {
    &:last-child {
      padding-right: 0;
    }
  }
}

.main-nav__link--color {
  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}
