.page {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $basic-black;
  height: 100%;
}

.page__body {
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
