.promo {
  &::before {
    content: "";
    position: absolute;
    min-height: 302px;
    width: 100%;
    min-width: 320px;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-color: #4f4e53;
    background-position: center;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
  }
}

.promo__wrapper {
  padding-top: 27px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 800px;
    padding: 40px 90px 610px;
  }

  @media (min-width: $desktop-width) {
    min-height: 633px;
    padding: 80px;
  }
}

.promo__title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: $basic-white;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 420px;
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
    text-align: left;
    margin-bottom: 40px;
  }
}

.promo__text {
  margin: 0;
  font-family: $secondary-font;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-white;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    width: 283px;
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    text-align: left;
  }
}

.promo__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translate(-53%);
    top: 241px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    transform: translate(-42%);
  }
}

.promo__link {
  display: block;
  width: 100%;
  padding: 10px;

  @media (min-width: $tablet-width) {
    width: 244px;
    position: absolute;
    top: 270px;
    left: 90px;
    padding: 14px;
  }

  @media (min-width: $desktop-width) {
    left: 80px;
    top: 313px;
  }
}
