.services__list {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 71px;
  }
}

.services__item {
  padding: 30px 20px 18px;
  background-color: $bg-grey;
  margin-bottom: 20px;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
  }

  &::before {
    width: 50px;
    height: 50px;
    top: 24px;
    left: 20px;
    background-color: $basic-green;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      top: 92px;
      left: auto;
      right: 63px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 77px 317px 53px 52px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 45px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 77px 61px 55px 52px;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.services__item--slim {
  &::after {
    top: 21px;
    left: 27px;
    width: 36px;
    height: 50px;
    background-image: url("../../icons/stack.svg#cat-slim");

    @media (min-width: $tablet-width) {
      top: 81px;
      left: auto;
      right: 93px;
      width: 140px;
      height: 194px;
    }

    @media (min-width: $desktop-width) {
      top: 41px;
      left: 67px;
      width: 70px;
      height: 97px;
    }
  }
}

.services__item--pro {
  &::after {
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background-image: url("../../icons/stack.svg#cat-pro");

    @media (min-width: $tablet-width) {
      top: 135px;
      left: auto;
      right: 30px;
      width: 268px;
      height: 112px;
    }

    @media (min-width: $desktop-width) {
      top: 67px;
      left: 33px;
      width: 134px;
      height: 56px;
    }
  }
}

.services__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0 0 29px 70px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.services__description {
  color: $dark-grey;
  margin: 0;
  margin-bottom: 18px;
  padding-bottom: 23px;
  border-bottom: 1px solid $line-grey-2;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.services__link {
  position: relative;
  font-family: $secondary-font;
  line-height: 16px;
  color: $basic-black;
  text-transform: uppercase;
  padding-right: 40px;

  &::after {
    content: "";
    position: absolute;
    background-color: $basic-black;
    mask-image: url("../../icons/stack.svg#arrow");
    mask-position: center;
    mask-repeat: no-repeat;
    width: 24px;
    height: 12px;
    right: 0;
    top: 5px;

    @media (min-width: $tablet-width) {
      top: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
