.social {
  background-color: $bg-grey;
}

.social__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.social__media-list {
  display: flex;
}

.social__media-link {
  display: block;
  width: 28px;
  height: 22px;
  mask-repeat: no-repeat;
  background-color: $icon-grey;
  mask-position: center;
}

.social__media-link--vkontakte {
  mask-image: url("../../icons/stack.svg#vk");
}

.social__media-link--youtube {
  mask-image: url("../../icons/stack.svg#youtube");
}

.social__media-link--telegram {
  mask-image: url("../../icons/stack.svg#telegram");
}
