.social {
  background-color: $bg-grey;
}

.social__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.social__logo-link {
  padding: 40px 76px 20px;
  display: block;
  border-bottom: 1px solid $line-grey-2;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.social__media-list {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 132px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social__media-link {
  display: block;
  width: 28px;
  height: 22px;
  mask-repeat: no-repeat;
  background-color: $icon-grey;
  mask-position: center;
}

.social__media-link--vkontakte {
  mask-image: url("../../icons/stack.svg#vk");
}

.social__media-link--youtube {
  mask-image: url("../../icons/stack.svg#youtube");
}

.social__media-link--telegram {
  mask-image: url("../../icons/stack.svg#telegram");
}
